html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.xicomFormPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.mainForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 80%;
  max-width: 1000px;
}


.gridCol2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

.inputGroup {
  gap: 7px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.inputGroup>label.labelStyling,
.labelStyling {
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

.secondary_label {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  color: #777;
}

.inputGroup>.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #777;
  outline: none;
  background-color: white;
  border-radius: 3px;
}

.residentialAddress {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}


.requiredMarker {
  color: rgb(204, 20, 20);
}

.sameAddressCheckBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.infoText {
  font-size: 12px;
  color: #555;
}



.sameAddressCheckBox>label {
  display: inline-block;
}

.sameAddressCheckBox>input {
  display: none;
}

.sameAddressCheckBox>label:before {
  content: '';
  cursor: pointer;
  vertical-align: bottom;
  color: black;
  background-color: transparent;
  line-height: 1.1em;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  height: 20px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #222;
  margin-right: 10px;
  border-radius: 2px;
}

.sameAddressCheckBox>input:checked+label:before {
  content: '\2713';
  color: #333;
  outline: 1px solid #333;
}

.sameAddressCheckBox>input:checked+label {
  color: #333;
}

.sameAddressCheckBox>label:hover {
  color: rgb(28, 50, 125);
}


.documentsUpload {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.documentUploadRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)) minmax(0, 50px);
  gap: 20px;
  align-items: flex-start;
}

.fileInputDiv {
  width: 100%;
  border: 1px solid #777;
  height: 37.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
  overflow: hidden;
  gap: 15px;
}
.fileInputDiv > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.deleteThisDoc,
.addMoreFilesBtn {
  height: 36.6px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-top: 23.67px;
  cursor: pointer;
}

.addMoreFilesBtn {
  background-color: #333;
  color: white;
}
.deleteThisDoc {
  color: #333;
  background-color: #EAEAEA;
}


.formSubmitBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.formSubmitBtn > button{
  margin-top: 20px;
  cursor: pointer;
  padding: 12px 0;
  width: 200px;
  font-size: 24px;
  font-weight: 500;
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
}
